.descriptionBlock {
    padding: 10px;
}

.descriptionBlock img {
    border-radius: 50px;
}

.descriptionBlock .profileAvatar {
    max-height: 200px;
    max-width: 200px;
}

.jobBlock {
    padding: 10px;
}

.jobImg {
    max-height: 20px;
    max-width: 20px;
}